<html>
  <head>
    <title> first react </title>
    <script src="lib/react.min.js"></script>
    <script src="lib/react-dom.min.js"></script>
    <script src="lib/browser.min.js"></script>
  </head>
  <body>
    <h1> Vi Van Thuc </h1>
    <div id="root"> </div>
    <script src="xuly.js" type="text/babel"></script>
  </body>
</html
